<container>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Burgers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <h2> All avalilable burgers</h2>
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li class="border1">
              {{this.burger_name}}
              <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button class = "btn-primary" type="submit ">Ready to Eat</button>
              </form>
            </li>
            <br>
          {{/unless}}
       {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <h2> Burgers you have devoured!</h2>

      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              {{this.burger_name}}
              {{this.id}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h2>Add a Burger</h2>
      <form class="create-update-form" action="/burger/create" method="POST">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="burger_name" name="name">
        </div>
        <button class = "btn-danger" type="submit">Add Burger</button>
      </form>
    </div>
   
  </div>
  

</container>